{% extends 'base.html' %}
{% block title %}Home - Foodies{% endblock %}
{% block content %}



<section class="card hero-box">
  <div class="placeholder tall">
    {% if restaurants|length == 0 %}
      <p>No restaurants found.</p>
    {% else %}
    {% for r in restaurants %}
    <!-- <a href="{{ url_for('restaurants')}}"></a> -->
     <!-- maybe make them clickable to make your own review -->
    <div class="card">
        {{ r.name }} - {{ r.cuisine }} - Rating: {{ r.rating }}<br>
        <em>{{ r.notes }}</em>
        <div class="row between">
          {% if r.liked %}
          <form action="url_for('unlike_restaurant', rid=r._id)" method="post">
            <button class="" type="submit">Unlike</button>
          </form>  
          {% else %}
          <form action="url_for('like_restaurant', rid=r._id)" method="post">
            <button class="" type="submit">Like</button>
          {% endif %}
          <div>Likes: {{len(r.liked_by)}}</div>
        </div>
      </div>
    {% endfor %}
    {% endif %}
  </div>
</section>



{% endblock %}
