{% extends 'base.html' %}
{% block title %}My Restaurants - Foodies{% endblock %}
{% block content %}


<form class="row" method="get" action="{{ url_for('restaurants') }}">
  <input name="q" placeholder="Search restaurant.." value="{{ request.args.get('q','') }}">
  <label>
    <input type="checkbox" name="mine" id="" value="True" 
            {% if request.args.get('mine') == 'True' %}checked{% endif %}
            onchange="this.form.submit()">
    See only my restaurants.
  </label>
  <button class="btn" type="submit">Search</button>
</form>

<section class="card hero-box">
  <div class="placeholder tall">
    {% for r in restaurants %}
      <div class="card">
        {{ r.name }} - {{ r.cuisine }} - Rating: {{ r.rating }}<br>
        <em>{{ r.notes }}</em>
        {% if r.can_delete %}
        <form method="post" action="{{ url_for('delete_restaurant', rid=r._id) }}">
          <button class="btn danger small" type="submit">Delete</button>
        </form>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>

<form action="" method="post">
  <label>Restaurant name
    <input name="name" required>
  </label>

  <label>Restaurant cuisine
    <input name="cuisine" required>
  </form>

  <label>Rating
    <input type="number" name="rating" min="1" max="5" required>
  </label>

  <label>Notes
    <textarea name="notes" placeholder="Thoughts?"></textarea>
  </label>

  <button type="submit" class="btn primary block">Add Restaurant</button>
</form>

{% endblock %}